<a href="https://colab.research.google.com/github/zalahu/ZALAi/blob/main/Panda_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Task-1Creating a dataset of Movies with list of 10 and load to Dataframe**

In [ ]:
!pip install pandas as pd
!pip install numpy as np

In [2]:
import pandas as pd
import numpy as np

# Define the movie data directly as a list of dictionaries
movies = [
    {'Title': 'Movie 1', 'Release Year': 1887, 'Genre': 'Action', 'Runtime (minutes)': 87, 'Budget (millions USD)': 21, 'Box Office (millions USD)': 31, 'Director': 'Director 1', 'Rating (out of 10)': 1, 'Country': 'India'},
    {'Title': 'Movie 2', 'Release Year': 1995, 'Genre': 'Fiction', 'Runtime (minutes)': 130, 'Budget (millions USD)': 31, 'Box Office (millions USD)': 41, 'Director': 'Director 2', 'Rating (out of 10)': 1, 'Country': 'India'},
    {'Title': 'Movie 3', 'Release Year': 2003, 'Genre': 'Comedy', 'Runtime (minutes)': 110, 'Budget (millions USD)': 15, 'Box Office (millions USD)': 25, 'Director': 'Director 3', 'Rating (out of 10)': 2, 'Country': 'USA'},
    {'Title': 'Movie 4', 'Release Year': 2004, 'Genre': 'Drama', 'Runtime (minutes)': 140, 'Budget (millions USD)': 40, 'Box Office (millions USD)': 60, 'Director': 'Steven Spielberg', 'Rating (out of 10)': 3, 'Country': 'UK'},
    {'Title': 'Movie 5', 'Release Year': None, 'Genre': 'Thriller', 'Runtime (minutes)': 125, 'Budget (millions USD)': 28, 'Box Office (millions USD)': 38, 'Director': 'Director 5', 'Rating (out of 10)': 4, 'Country': 'Canada'},
    {'Title': 'Movie 6', 'Release Year': 2016, 'Genre': 'Sci-Fi', 'Runtime (minutes)': 88, 'Budget (millions USD)': 35, 'Box Office (millions USD)': 145, 'Director': 'Director 6', 'Rating (out of 10)': 5, 'Country': 'Australia'},
    {'Title': 'Movie 7', 'Release Year': 2017, 'Genre': 'Horror', 'Runtime (minutes)': 115, 'Budget (millions USD)': 20, 'Box Office (millions USD)': 30, 'Director': 'Director 7', 'Rating (out of 10)': 6, 'Country': 'Germany'},
    {'Title': 'Movie 8', 'Release Year': 2018, 'Genre': 'Romance', 'Runtime (minutes)': 130, 'Budget (millions USD)': 30, 'Box Office (millions USD)': 40, 'Director': 'Christopher Nolan', 'Rating (out of 10)': 7, 'Country': 'France'},
    {'Title': 'Movie 9', 'Release Year': 2019, 'Genre': 'Adventure', 'Runtime (minutes)': 120, 'Budget (millions USD)': 25, 'Box Office (millions USD)': 35, 'Director': 'Christopher Nolan', 'Rating (out of 10)': 8, 'Country': 'Japan'},
    {'Title': 'Movie 10', 'Release Year':2020, 'Genre': 'Fantasy', 'Runtime (minutes)': 140, 'Budget (millions USD)': 45, 'Box Office (millions USD)': 65, 'Director': 'Director 10', 'Rating (out of 10)': 9, 'Country': 'China'}
]
# Create the DataFrame directly from the list of dictionaries
df = pd.DataFrame(movies)
#printing the dataframe
print(df.to_string())

      Title  Release Year      Genre  Runtime (minutes)  Budget (millions USD)  Box Office (millions USD)           Director  Rating (out of 10)    Country
0   Movie 1        1887.0     Action                 87                     21                         31         Director 1                   1      India
1   Movie 2        1995.0    Fiction                130                     31                         41         Director 2                   1      India
2   Movie 3        2003.0     Comedy                110                     15                         25         Director 3                   2        USA
3   Movie 4        2004.0      Drama                140                     40                         60   Steven Spielberg                   3         UK
4   Movie 5           NaN   Thriller                125                     28                         38         Director 5                   4     Canada
5   Movie 6        2016.0     Sci-Fi                 88                     35                        145         Director 6                   5  Australia
6   Movie 7        2017.0     Horror                115                     20                         30         Director 7                   6    Germany
7   Movie 8        2018.0    Romance                130                     30                         40  Christopher Nolan                   7     France
8   Movie 9        2019.0  Adventure                120                     25                         35  Christopher Nolan                   8      Japan
9  Movie 10        2020.0    Fantasy                140                     45                         65        Director 10                   9      China

Task1.2 Display the first 5 rows of the DataFrame.

In [ ]:
#df.head() gives by default first 5 rows..for other rows use df.head(n)
df.head()

Task 1.3 Show the shape of the DataFrame (rows and columns).

In [ ]:
#shape will show the shape with number of rows and columns
df.shape

Task1.4 Generate basic descriptive statistics for the numerical columns.

In [ ]:
# Use the describe() method to generate descriptive statistics for numerical columns
df.describe()

In [ ]:
df.count() # to display the count of rows and columns numerical data

In [ ]:
df.mean(numeric_only=True) # to display the mean of numerical data

In [ ]:
# Calculate the standard deviation of numerical columns
df.std(numeric_only=True)

In [ ]:
# Calculate the min of numerical columns
df.min(numeric_only=True)

In [ ]:
# Calculate the max of numerical columns
df.max(numeric_only=True)

In [ ]:
 df.quantile(0.25, numeric_only=True) # Calculate the 25th percentile for all numerical columns

Task 1.5 Check for missing values in each column.

In [42]:
# Check for missing values in each column with isnull()
missing_values = df.isnull().sum()
print(missing_values)

Title                        0
Release Year                 1
Genre                        0
Runtime (minutes)            0
Budget (millions USD)        0
Box Office (millions USD)    0
Director                     0
Rating (out of 10)           0
Country                      0
dtype: int64

In [ ]:
# Check for missing values in each column with isna()
missing_values1 = df.isna().sum()
print(missing_values1)

**TASK-2 Data Filtering and Selection (Intermediate)**

Task2.1 Select all movies released after 2010.

In [ ]:
# Select movies released after 2010
movies_after_2010 = df[df['Release Year'] > 2010]
print(movies_after_2010)

In [ ]:
# Print the DataFrame as a table without wrapping
print(movies_after_2010.to_string())

# **Task 2.2 Find all movies with a rating higher than 8.0.**

In [ ]:
movies_rated_above_8 = df[df['Rating (out of 10)'] > 8.0]
print(movies_rated_above_8.to_string())

# **Task 2.3 Create a subset of movies that are either Action or Comedy genres.**

In [ ]:
# Create a subset of movies that are either Action or Comedy genres.
subset_movies = df[(df['Genre'] == 'Action') | (df['Genre'] == 'Comedy')]

# Display the subset
print(subset_movies.to_string())  # Use to_string() for better formatting in output

# **Task 2.4 Identify movies that had a box office greater than twice their budget.**

In [ ]:
# Filter movies with box office greater than twice their budget
profitable_movies = df[df['Box Office (millions USD)'] > 2 * df['Budget (millions USD)']]

# Display the result
print(profitable_movies.to_string())

# **Task2.5 List all movies directed by Christopher Nolan or Steven Spielberg.**

In [ ]:
# Filter movies directed by Christopher Nolan or Steven Spielberg
director_subset = df[(df['Director'] == 'Christopher Nolan') | (df['Director'] == 'Steven Spielberg')]

# Display the result
print(director_subset.to_string())

# Task 3: Data Transformation (Intermediate)

**Task 3.1Create a new column 'Profit' that calculates the difference between Box Office and Budget.**

In [ ]:
# Create a new column 'Profit'
df['Profit'] = df['Box Office (millions USD)'] - df['Budget (millions USD)']

# Display the DataFrame with the new column
print(df.to_string())  # Using to_string() for better formatting in output

# Task 3.2 Create a column 'ROI' (Return on Investment) that calculates (Box Office - Budget) / Budget.

In [ ]:
# Create a new column 'ROI'
df['ROI'] = (df['Box Office (millions USD)'] - df['Budget (millions USD)']) / df['Budget (millions USD)']

# Display the DataFrame with the new column
print(df.to_string())  # Use to_string() for better formatting in output
#df

# Task 3.3 Create a categorical column 'Length' that classifies movies as 'Short' (< 90 min), 'Medium' (90-120 min), or 'Long' (> 120 min).

In [ ]:
import pandas as pd

# Define a function to categorize movie length
def categorize_length(duration):
    if duration < 90:
        return 'Short'
    elif duration <= 120:
        return 'Medium'
    else:
        return 'Long'

# Apply the function to create the 'Length' column
df['Length'] = df['Runtime (minutes)'].apply(categorize_length)

# Display the DataFrame with the new column
print(df.to_string())  # Use to_string() for better formatting in output

# Task 3.4 Create a column 'Decade' that categorizes movies by the decade they were released in (e.g., 1990s, 2000s).

In [ ]:
import pandas as pd
def decade_year (released):
    if pd.isnull(released):
      return 'Could not calculate'
    decade = int((released//10))*10
    return str(decade) + 's'

df['Decade'] = df['Release Year'].apply(decade_year)
print(df.to_string())

# Task 3.5 Convert the 'Rating' column to a categorical type with bins: 'Poor' (0-4), 'Average' (4-7), 'Excellent' (7-10).

In [82]:
import pandas as pd

# Define the bins and labels
rating_bins = [0, 4, 7, 10]
rating_labels = ['Poor', 'Average', 'Excellent']

# Create the categorical column
df['Rating Category'] = pd.cut(df['Rating (out of 10)'], bins=rating_bins, labels=rating_labels, include_lowest=True)

# Display the updated DataFrame
print(df.to_string())

      Title  Release Year      Genre  Runtime (minutes)  Budget (millions USD)  Box Office (millions USD)           Director  Rating (out of 10)    Country              Deacade               Decade Rating Category
0   Movie 1        1887.0     Action                 87                     21                         31         Director 1                   1      India                 None                1880s            Poor
1   Movie 2        1995.0    Fiction                130                     31                         41         Director 2                   1      India                 None                1990s            Poor
2   Movie 3        2003.0     Comedy                110                     15                         25         Director 3                   2        USA                 None                2000s            Poor
3   Movie 4        2004.0      Drama                140                     40                         60   Steven Spielberg                   3         UK                 None                2000s            Poor
4   Movie 5           NaN   Thriller                125                     28                         38         Director 5                   4     Canada  Could not calculate  Could not calculate            Poor
5   Movie 6        2016.0     Sci-Fi                 88                     35                        145         Director 6                   5  Australia                 None                2010s         Average
6   Movie 7        2017.0     Horror                115                     20                         30         Director 7                   6    Germany                 None                2010s         Average
7   Movie 8        2018.0    Romance                130                     30                         40  Christopher Nolan                   7     France                 None                2010s         Average
8   Movie 9        2019.0  Adventure                120                     25                         35  Christopher Nolan                   8      Japan                 None                2010s       Excellent
9  Movie 10        2020.0    Fantasy                140                     45                         65        Director 10                   9      China                 None                2020s       Excellent

# Task 4: Aggregation and Grouping (Advanced)

Task 4.1Calculate the average rating for each genre.

In [85]:
# Group the data by genre and calculate the average rating
average_rating_by_genre = df.groupby('Genre')['Rating (out of 10)'].mean()

# Display the results
print(average_rating_by_genre)

Genre
Action       1.0
Adventure    8.0
Comedy       2.0
Drama        3.0
Fantasy      9.0
Fiction      1.0
Horror       6.0
Romance      7.0
Sci-Fi       5.0
Thriller     4.0
Name: Rating (out of 10), dtype: float64

# Task 4.2 Find the highest-grossing movie for each director.

In [90]:
# Group by 'Director' and get the index of the maximum 'Box Office' for each group
highest_grossing_idx = df.groupby('Director')['Box Office (millions USD)'].idxmax()

# Use the indices to select the rows from the original DataFrame
highest_grossing_movies = df.loc[highest_grossing_idx]
# Sort by 'Box Office (millions USD)' in descending order
highest_grossing_movies = highest_grossing_movies.sort_values(by=['Box Office (millions USD)'], ascending=False)


# Display the result
print(highest_grossing_movies.to_string())  # Using to_string() for better formatting

      Title  Release Year     Genre  Runtime (minutes)  Budget (millions USD)  Box Office (millions USD)           Director  Rating (out of 10)    Country
5   Movie 6        2016.0    Sci-Fi                 88                     35                        145         Director 6                   5  Australia
9  Movie 10        2020.0   Fantasy                140                     45                         65        Director 10                   9      China
3   Movie 4        2004.0     Drama                140                     40                         60   Steven Spielberg                   3         UK
1   Movie 2        1995.0   Fiction                130                     31                         41         Director 2                   1      India
7   Movie 8        2018.0   Romance                130                     30                         40  Christopher Nolan                   7     France
4   Movie 5           NaN  Thriller                125                     28                         38         Director 5                   4     Canada
0   Movie 1        1887.0    Action                 87                     21                         31         Director 1                   1      India
6   Movie 7        2017.0    Horror                115                     20                         30         Director 7                   6    Germany
2   Movie 3        2003.0    Comedy                110                     15                         25         Director 3                   2        USA

# Task 4.3 Determine the average budget and box office for each decade.

In [94]:

import pandas as pd

def decade_year(released):
    if pd.isnull(released):
        return 'Could not calculate'
    decade = int((released // 10)) * 10
    return str(decade) + 's'

df['Decade'] = df['Release Year'].apply(decade_year)
print(df.to_string())

# Group by 'Decade' and calculate the average budget and box office
decade_stats = df.groupby('Decade')[['Budget (millions USD)', 'Box Office (millions USD)']].mean()

# Display the results
print(decade_stats)

      Title  Release Year      Genre  Runtime (minutes)  Budget (millions USD)  Box Office (millions USD)           Director  Rating (out of 10)    Country               Decade
0   Movie 1        1887.0     Action                 87                     21                         31         Director 1                   1      India                1880s
1   Movie 2        1995.0    Fiction                130                     31                         41         Director 2                   1      India                1990s
2   Movie 3        2003.0     Comedy                110                     15                         25         Director 3                   2        USA                2000s
3   Movie 4        2004.0      Drama                140                     40                         60   Steven Spielberg                   3         UK                2000s
4   Movie 5           NaN   Thriller                125                     28                         38         Director 5                   4     Canada  Could not calculate
5   Movie 6        2016.0     Sci-Fi                 88                     35                        145         Director 6                   5  Australia                2010s
6   Movie 7        2017.0     Horror                115                     20                         30         Director 7                   6    Germany                2010s
7   Movie 8        2018.0    Romance                130                     30                         40  Christopher Nolan                   7     France                2010s
8   Movie 9        2019.0  Adventure                120                     25                         35  Christopher Nolan                   8      Japan                2010s
9  Movie 10        2020.0    Fantasy                140                     45                         65        Director 10                   9      China                2020s
                     Budget (millions USD)  Box Office (millions USD)
Decade
1880s                                 21.0                       31.0
1990s                                 31.0                       41.0
2000s                                 27.5                       42.5
2010s                                 27.5                       62.5
2020s                                 45.0                       65.0
Could not calculate                   28.0                       38.0

# Task 4.4 Group movies by their country of origin and calculate the mean rating, total budget, and total box office.

In [3]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Group by 'Country' and calculate the desired aggregations
country_stats = df.groupby('Country').agg(
    Mean_Rating=('Rating (out of 10)', 'mean'),
    Total_Budget=('Budget (millions USD)', 'sum'),
    Total_Box_Office=('Box Office (millions USD)', 'sum')
)

# Display the results
print(country_stats)

           Mean_Rating  Total_Budget  Total_Box_Office
Country
Australia          5.0            35               145
Canada             4.0            28                38
China              9.0            45                65
France             7.0            30                40
Germany            6.0            20                30
India              1.0            52                72
Japan              8.0            25                35
UK                 3.0            40                60
USA                2.0            15                25